.nav-folder-children > .nav-folder .nav-folder-title {
  color: var(--folder-color);
  border-radius: 4px;
}
.nav-folder-children > .tree-item-self .tree-item-icon {
  --icon-color: var(--folder-color);
  --nav-collapse-icon-color: var(--folder-color);
  --nav-collapse-icon-color-collapsed: var(--folder-color);
}

/* Folder icon when collapsed */
.nav-folder.is-collapsed .nav-folder-collapse-indicator {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 24' fill='none' stroke='currentColor' stroke-linejoin='round' stroke-linecap='round' stroke-width='2'%3E%3Cpath d='M4 20h16a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.93a2 2 0 0 1-1.66-.9l-.82-1.2A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13c0 1.1.9 2 2 2z'/%3E%3Cpath d='M2 10h20' /%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
  background-color: var(--folder-color);
  height: 16px;
  width: 17px;
  margin-right: 4px;
}
.nav-folder-collapse-indicator svg.svg-icon {
  color: transparent !important;
}

/* folder icon when open */
.nav-folder .nav-folder-collapse-indicator {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 24' fill='none' stroke='currentColor' stroke-linejoin='round' stroke-linecap='round' stroke-width='2'%3E%3Cpath d='M6 14l1.45-2.9A2 2 0 0 1 9.24 10H22a2 2 0 0 1 1.94 2.5l-1.55 6a2 2 0 0 1-1.94 1.5H4a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h3.93a2 2 0 0 1 1.66.9l.82 1.2a2 2 0 0 0 1.66.9H20a2 2 0 0 1 2 2v2'/%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
  background-color: var(--folder-color);
  height: 16px;
  width: 17px;
  margin-right: 4px;
}
.nav-folder-collapse-indicator svg.svg-icon {
  color: transparent !important;
}

.nav-folder.mod-root > .nav-folder-children > .nav-folder .nav-folder-title {
  transition: color 0.4s;
  color: var(--folder-color);
  --nav-item-background-hover: var(--hover-color);
  --nav-item-background-active: var(--hover-color);
}

/* add icon before files */
.nav-file .nav-file-title[data-path$=".md"]::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z'/%3E%3Cpath d='M14 2v6h6m-4 5H8m8 4H8m2-8H8'/%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
  background-color: var(--folder-color);
  content: "";
  display: inline-flex;
  flex-shrink: 0;
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.nav-file .nav-file-title[data-path]::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z'/%3E%3Cpath d='M14 2v6h6'/%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
  background-color: var(--folder-color);
  content: "";
  display: inline-flex;
  flex-shrink: 0;
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.tree-item .nav-file-title {
  transition: color 0.4s;
  color: rgba(var(--folder-color), 0.8);
  --nav-item-background-hover: var(--hover-color);
  --nav-item-background-active: var(--hover-color);
}

/* colors on text and icons */
.nav-folder-children > .nav-folder:hover {
  filter: brightness(0.9);
}
.nav-folder-children > .nav-folder:nth-child(11n+2) {
  --folder-color: rgb(243, 139, 168);
  --hover-color: rgba(243, 139, 168, 0.1);
}
.nav-folder-children > .nav-folder:nth-child(11n+3) {
  --folder-color: rgb(235, 160, 172);
  --hover-color: rgba(235, 160, 172, 0.1);
}
.nav-folder-children > .nav-folder:nth-child(11n+4) {
  --folder-color: rgb(250, 179, 135);
  --hover-color: rgba(250, 179, 135, 0.1);
}
.nav-folder-children > .nav-folder:nth-child(11n+5) {
  --folder-color: rgb(249, 226, 175);
  --hover-color: rgba(249, 226, 175, 0.1);
}
.nav-folder-children > .nav-folder:nth-child(11n+6) {
  --folder-color: rgb(166, 227, 161);
  --hover-color: rgba(166, 227, 161, 0.1);
}
.nav-folder-children > .nav-folder:nth-child(11n+7) {
  --folder-color: rgb(148, 226, 213);
  --hover-color: rgba(148, 226, 213, 0.1);
}
.nav-folder-children > .nav-folder:nth-child(11n+8) {
  --folder-color: rgb(137, 220, 235);
  --hover-color: rgba(137, 220, 235, 0.1);
}
.nav-folder-children > .nav-folder:nth-child(11n+9) {
  --folder-color: rgb(116, 199, 236);
  --hover-color: rgba(116, 199, 236, 0.1);
}
.nav-folder-children > .nav-folder:nth-child(11n+10) {
  --folder-color: rgb(135, 176, 249);
  --hover-color: rgba(135, 176, 249, 0.1);
}
.nav-folder-children > .nav-folder:nth-child(11n+11) {
  --folder-color: rgb(180, 190, 254);
  --hover-color: rgba(180, 190, 254, 0.1);
}
.nav-folder-children > .nav-folder:nth-child(11n+12) {
  --folder-color: rgb(203, 166, 247);
  --hover-color: rgba(203, 166, 247, 0.1);
}